<?xml version="1.0" encoding="UTF-8"?>
<!--

/**
 * © Copyright IBM Corporation 2014.  
 * This is licensed under the following license.
 * The Eclipse Public 1.0 License (http://www.eclipse.org/legal/epl-v10.html)
 * U.S. Government Users Restricted Rights:  Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp. 
 */

-->
<plugin xmlns='http://www.urbancode.com/PluginXMLSchema_v1' xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'>
  <header>
    <identifier id='com.urbancode.air.plugin.Nodejs' version='3' name='Nodejs' />
    <description>The Nodejs plugin is an automation based plugin for IBM UrbanCode Deploy. It is used to install and configure Node.js.</description>
    <tag>Middleware/Nodejs</tag>
  </header>
  <step-type name='Install'>
    <description>Install Nodejs on a target server.</description>
    <properties>
    </properties>
    <post-processing><![CDATA[ 
 if (properties.get("exitCode") != 0) {
 properties.put(new java.lang.String("Status"), new java.lang.String("Failure"));
 }
 else { 
 properties.put("Status", "Success"); 
 }
 ]]></post-processing>
    <command program='${GROOVY_HOME}/bin/groovy'>
      <arg value='-cp' />
      <arg path='classes:${sdkJar}:lib/commons-codec.jar:lib/activation-1.1.1.jar:lib/commons-logging.jar:lib/httpclient-cache.jar:lib/httpclient.jar:lib/httpcore.jar:lib/httpmime.jar:lib/javamail-1.4.1.jar' />
      <arg file='install.groovy' />
      <arg file='${PLUGIN_INPUT_PROPS}' />
      <arg file='${PLUGIN_OUTPUT_PROPS}' />
    </command>
  </step-type>
  <step-type name='Install Module'>
    <description>Install a module through npm.</description>
    <properties>
      <property name='moduleName' required='true'>
        <property-ui type='textBox' label='Node Module Name' description='Name of the Node Module to Install.' />
      </property>
      <property name='modulePath' required='false'>
        <property-ui type='textBox' label='Node Module Path' description='Path in which to install the Node Module.' />
      </property>
    </properties>
    <post-processing><![CDATA[ 
 if (properties.get("exitCode") != 0) {
 properties.put(new java.lang.String("Status"), new java.lang.String("Failure"));
 }
 else { 
 properties.put("Status", "Success"); 
 }
 ]]></post-processing>
    <command program='${GROOVY_HOME}/bin/groovy'>
      <arg value='-cp' />
      <arg path='classes:${sdkJar}:lib/commons-codec.jar:lib/activation-1.1.1.jar:lib/commons-logging.jar:lib/httpclient-cache.jar:lib/httpclient.jar:lib/httpcore.jar:lib/httpmime.jar:lib/javamail-1.4.1.jar' />
      <arg file='install_module.groovy' />
      <arg file='${PLUGIN_INPUT_PROPS}' />
      <arg file='${PLUGIN_OUTPUT_PROPS}' />
    </command>
  </step-type>
</plugin>
